.basket-count {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff9c4;
  text-align: center;
  line-height: 30px;
}
