.line-item {
  padding: 1rem 0;
  clear: both;
  overflow: hidden;
  border-bottom: 2px solid lightgray;
  min-height: 50px;
  line-height: 50px;

  &-label,
  &-extra,
  &-children {
    float: left;
    margin-right: 10px;
  }

  &-label {
    display: inline-block;
    font-weight: 600;
  }

  &-price {
    float: right;
  }
}
